table, th, td{
  border: 1px solid black;
}


.first-col{
  font-style: italic;
  font-weight: normal;
}


tbody.color-change tr:nth-of-type(odd){
  background-color: #F6D6E8;
}


tbody.color-change tr:nth-of-type(even){
  background-color: #B6EEFE;
}


.outer-content{
  align: left;
  background-color: #FFAFED;
  margin-top: 20px;
  padding: 10px;
  max-width: 75%;
  min-width: 75%;
}


.inner-content{
  text-align: center;
  background-color: #5ECFFF;
}
